<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head(title='Order Management')}">
    <link rel="stylesheet" href="/css/order-management.css">
</head>
<body>
<nav th:replace="~{fragments/header :: body}"></nav>
<div class="container table-container">
    <h2 class="text-center">Order Management</h2>
    <div class="form-group text-center">
        <a href="/admin/order/add" class="btn btn-success">Add Order</a>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Search..." onkeydown="handleKeyDown(event)">
            <div class="input-group-append">
                <select id="searchColumn" class="form-control" onchange="updateSearchInput()">
                    <option value="id">ID</option>
                    <option value="customer">Customer</option>
                    <option value="orderStatus">Order Status</option>
                    <option value="orderType">Order Type</option>
                </select>
                <button class="btn btn-primary" type="button" onclick="searchOrders()">Search</button>
            </div>
        </div>
    </div>
    <form th:action="@{/admin/order/delete}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>ID</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Order Type</th>
                <th>Total Amount</th>
                <th>Discount(%)</th>
                <th>Paid Amount</th>
                <th>Pay Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td><input type="checkbox" name="selectedIds" th:value="${order.id}"></td>
                <td th:text="${order.id}"></td>
                <td th:text="${order.customer.id + '-' + order.customer.fullname +  '-' +  order.customer.phoneNumber +  '-' +  order.customer.address}"></td>
                <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${order.orderStatus.name}"></td>
                <td th:text="${order.orderType.name}"></td>
                <td th:text="${order.totalAmount}"></td>
                <td th:text="${order.discount}"></td>
                <td th:text="${order.paidAmount}"></td>
                <td th:text="${order.payDate != null ? #dates.format(order.payDate, 'yyyy-MM-dd HH:mm:ss') : ''}"></td>
                <td class="action-buttons">
                    <a th:href="@{/admin/order/edit/{id}(id=${order.id})}" class="btn btn-warning btn-sm">Edit</a>
                    <a th:href="@{/admin/order/delete/{id}(id=${order.id})}" class="btn btn-danger btn-sm">Delete</a>
                    <a th:href="@{/admin/order/{id}/food-items/(id=${order.id})}" class="btn btn-primary btn-sm">Choose Food Items</a>
                    <a th:href="@{/admin/order/{id}/payment(id=${order.id})}" class="btn btn-success btn-sm">Payment</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-danger">Delete Selected</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/order-management.js"></script>
<script>
    function searchOrders() {
        const searchInput = document.getElementById('searchInput').value;
        const searchColumn = document.getElementById('searchColumn').value;
        window.location.href = `/admin/order?searchColumn=${searchColumn}&searchValue=${searchInput}`;
    }

    function handleKeyDown(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            searchOrders();
        }
    }

    function updateSearchInput() {
        const searchColumn = document.getElementById('searchColumn').value;
        const searchInput = document.getElementById('searchInput');
        if (searchColumn === 'orderStatus') {
            searchInput.setAttribute('list', 'orderStatusOptions');
        } else if (searchColumn === 'orderType') {
            searchInput.setAttribute('list', 'orderTypeOptions');
        } else {
            searchInput.removeAttribute('list');
        }
    }
</script>
<datalist id="orderStatusOptions">
    <option value="PAID">PAID</option>
    <option value="UNPAID">UNPAID</option>
    <option value="CANCEL">CANCEL</option>
</datalist>
<datalist id="orderTypeOptions">
    <option value="ONLINE">ONLINE</option>
    <option value="LOCAL">LOCAL</option>
</datalist>
</body>
</html>