<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head(title='Payment')}">
  <link rel="stylesheet" href="/css/payment.css">
</head>
<body>
<nav th:replace="~{fragments/header :: body}"></nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">Payment for Order #<span th:text="${order.id}"></span></h2>
      <form th:action="@{/admin/order/{id}/payment(id=${order.id})}" th:object="${order}" method="post">
        <div class="form-group">
          <label for="totalAmount">Total Amount:</label>
          <input type="text" id="totalAmount" th:field="*{totalAmount}" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="discount">Discount(%):</label>
          <input type="number" id="discount" th:field="*{discount}" class="form-control" min="0" value="0">
        </div>
        <div class="form-group">
          <label for="amountAfterDiscount">Amount After Discount:</label>
          <input type="text" id="amountAfterDiscount" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label for="paidAmount">Paid Amount:</label>
          <input type="number" id="paidAmount" th:field="*{paidAmount}" class="form-control" min="0" value="0">
        </div>
        <div class="form-group">
          <label for="rebateAmount">Rebate Amount:</label>
          <input type="text" id="rebateAmount" class="form-control" readonly>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-block">Process Payment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/payment.js"></script>
</body>
</html>