<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head(title='Admin Dashboard')}"></head>
<body>
<nav th:replace="~{fragments/header :: body}"></nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to the Admin Dashboard</h1>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>